html,
body {
    /*font-family: Arial, sans-serif;*/
    background-color: #000000;
    /*color: white;*/
}

#map {
    height: 94vh;
}

button {
    font-family: Arial, sans-serif;
}

.list-group-item {
    background-color: #2d2d2df2;
    margin-top: 1px;
    margin-bottom: 0;
}

#search-filter {
    margin-bottom: 1px;
}

.list-group-item-action {
    color: #b2bac1;
}

#pano {
    /*width: 200px;*/
    height: 200px;
}


@media (max-width: 576px) {
    #map {
        margin-top: 15px;
    }
}

.gm-iv-address {
    height: 59px !important;
}

.list-group-item-action:focus {
    color: #ffffff;
    background-color: rgba(98, 145, 255, 0.79);
}

.list-group-item:hover {
    color: #f9f9f9;
    background-color: #6395ff;
}